.contact-section {
  display: flex; /* Ustawia kontener na flex */
  flex-direction: column; /* Elementy wewnątrz kontenera będą ułożone pionowo */
  justify-content: flex-end;
  height: 280px; /* Wyrównuje elementy do dołu kontenera */
  font-size: 24px;
  margin-left: 32px;
}

.contact-section h1 {
  margin-bottom: 16px; /* Dodaje margines poniżej nagłówka */
}
