.describe {
<<<<<<< HEAD
  display: flex; /* Ustawienie trzech kolumn obok siebie */
  justify-content: center;
  margin-top: 100px;
  width: 100%; /* Pełna szerokość dla responsywności */
=======
  display: flex;
  flex-direction: column; /* Stack columns vertically for smaller devices */
  justify-content: center;
  margin-top: 100px;
  width: 100%;
>>>>>>> 1213a7c2231562a9baa0c86f673c900dc4e19395
  margin-left: auto;
  margin-right: auto;
  overflow-wrap: break-word;
  text-align: justify;
<<<<<<< HEAD
}

.column {
  flex: 1; /* Rozdzielenie przestrzeni równo między kolumny */
  margin: 0 10px; /* Odstępy między kolumnami */
  opacity: 0; /* Początkowa przezroczystość dla animacji */
  animation: slideIn 1.5s forwards; /* Animacja wjeżdżania */
  animation-delay: 0s; /* Domyślne opóźnienie animacji, indywidualnie dostosowane inline */
}

.column-header {
  color: rgb(225, 231, 69); /* Kolor nagłówków */
}

@keyframes slideIn {
  from {
    transform: translateY(20px); /* Początkowe przesunięcie */
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.describe p {
  font-size: 20px; /* Rozmiar czcionki */
  line-height: 1.8; /* Wysokość wiersza */
  margin-bottom: 15px; /* Odstęp między paragrafami */
}

.roles {
  margin-top: 5px; /* Dodatkowy odstęp między grupami */
}

.roles p {
  margin-bottom: 5px; /* Dodatkowy odstęp między paragrafami w grupie */
}

.roles.leadership p:last-child,
.roles.assistant p:last-child {
  margin-bottom: 5; /* Zerowy odstęp dla ostatniego paragrafu w każdej grupie */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.images-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  opacity: 0; /* Startujemy z niewidocznością */
  animation: fadeIn 2s ease-out forwards; /* Używamy tej samej animacji fadeIn */
  animation-delay: 1.5s; /* Możesz dostosować opóźnienie, aby pasowało do reszty */
}

.python-image {
  max-width: 30%;
  max-height: 30%;
  object-fit: contain;
}

=======
}

.column {
  flex: 1;
  margin: 10px; /* Equal margins on all sides */
  opacity: 0;
  animation: slideIn 1.5s forwards;
  animation-delay: 0s;
}

.column-header {
  color: rgb(225, 231, 69);
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.describe p {
  font-size: 20px;
  line-height: 1.8;
  margin-bottom: 15px;
}

.roles {
  margin-top: 5px;
}

.roles p {
  margin-bottom: 5px;
}

.roles.leadership p:last-child,
.roles.assistant p:last-child {
  margin-bottom: 5;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.images-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  opacity: 0;
  animation: fadeIn 2s ease-out forwards;
  animation-delay: 1.5s;
}

.python-image {
  max-width: 100%;
  height: auto;
}

/* Media query for larger screens */
@media (min-width: 768px) {
  .describe {
    flex-direction: row; /* Display columns horizontally for larger screens */
  }

  .column {
    margin: 0 10px; /* Horizontal margins for spacing between columns */
  }
}

@media (max-width: 768px) {
  .describe p {
    font-size: 18px;
    line-height: 1.6;
  }
}

@media (max-width: 480px) {
  .describe p {
    font-size: 16px;
    line-height: 1.4;
  }
>>>>>>> 1213a7c2231562a9baa0c86f673c900dc4e19395
}

