{% load static %}
<!DOCTYPE html>
<html lang="pl">
  <link rel="stylesheet" type="text/css" href="{% static 'css/base1.css' %}" />
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SciByteHub</title>
  </head>
  <body>
    <div class="container">
      <a href="{% url 'home' %}" id="logo">
        <img src="{% static 'images/logo.png' %}" alt="Logo" />
        <span>SciByteHub</span>
      </a>
      <div id="menu">
        <a href="{% url 'onas' %}">O nas</a>
        <a href="{% url 'kursy' %}">Kursy</a>
        <a href="{% url 'kontakt' %}">Kontakt</a>
      </div>
      <div style="clear: both"></div>
    </div>

    {% block content %} {% endblock content %}
    <div class="plant-image-container">
      <img
        src="{% static 'images/plant.png' %}"
        alt="Plant Image"
        class="plant-image"
      />
    </div>
  </body>
</html>
