{% extends 'base.html' %} {% load static %} {% block content %}

<div id="content">
  <div class="main-section">
    <div class="heading">
      <h1 class="main-heading">
        SciByteHub - Twoja przestrzeń do kreatywnego eksplorowania danych i
        tworzenia innowacyjnych rozwiązań
      </h1>

      <p class="sub-heading">
        Lol robimy cos w pythonie i r i data science ogolnie, jest super.
      </p>
    </div>
    <a href="https://gforms.app/p/cRR93lm" class="join-button" target="_blank"
      >Dołącz do nas</a
    >
  </div>

  <div class="images-container">
    <img
      src="{% static 'images/pyton.png' %}"
      alt="Python Image"
      class="python-image"
    />
  </div>
</div>

<div class="social-media">
  <p>MEDIA SPOŁECZNOŚCIOWE</p>
  <div class="horizontal"></div>
  <div class="social-icons">
    <a
      href="https://www.facebook.com/profile.php?id=61557602332796"
      class="social-link"
      target="_blank"
      ><img src="{% static 'images/facebook.png' %}" alt="Facebook"
    /></a>
    <a href="https://twitter.com/SciByteHub" class="social-link" target="_blank"
      ><img src="{% static 'images/twitter.png' %}" alt="Twitter"
    /></a>
    <a
      href="https://www.instagram.com/scibytehub?igsh=NXYzam9hcnA3Mml3&utm_source=qr"
      class="social-link"
      target="_blank"
      ><img src="{% static 'images/instagram.png' %}" alt="Instagram"
    /></a>
  </div>
</div>

<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />

{% endblock content %}
