{% extends "base.html" %} {% load static %} {% block content %}
<!-- Twoja zawartość -->
<div class="course-section">
  <h2>
    </br>PYTHON
  </h2>
  <p class="course-start-date">Obecnie prowadzimy zapisy na kurs programowania w języku Python dla początkujących. Startujemy 26 marca.</p>
  <div class="course-details">
    <p><b>Kiedy:</b> wtorki 17:00-19:00</p>
    <p><b>Gdzie:</b> Wydział Chemii UG</p>
    <p><b>Czas trwania:</b> 26.03-11.06.2024</p>
    <p><b>Poziom kursu:</b> od podstaw</p>
    <p><b>Koszt:</b> bezpłatny dla studentów UG</p>
    <a
      href="https://gforms.app/p/UVlRvRS"
      class="sign-up-button"
      target="_blank"
      >Zapisz się!</a
    >
    <a href="{% url 'download_pdf' %}" class="course-button"
      >Pobierz plan kursu</a
    >
  </div>

  <link rel="stylesheet" href="{% static 'css/kursy.css' %}" />
  {% endblock content %}
</div>
