{% extends "base.html" %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/onas.css' %}" />

<div class="describe">
<div class="section-header">
  <h2>O NAS</h2>
</div>
  <p>
    Jesteśmy sekcją Digital Chemistry, energicznie rozwijającą się częścią Naukowego Koła Chemików Uniwersytetu Gdańskiego, powstałą w 2024 roku.
  </p>

<div class="roles leadership">
  <p>Przewodnicząca sekcji: Julia Kuligowska</p>
  <p>Wiceprzewodnicząca sekcji: Marta Pągielska</p>
</div>

<div class="roles assistant">
  <p>Opiekun sekcji: prof. dr. hab. Cezary Czaplewski</p>
  <p>Opiekun pomocniczy: mgr Annemarie Danielsson</p>
</div>

<div class="section-header">
  <h2>MISJA</h2>
</div>
  <p>
    Nasz główny cel to zgłębianie tajników danych i chemii za pomocą zaawansowanych technologii, takich jak sztuczna inteligencja i uczenie maszynowe. Ale to nie wszystko! Jesteśmy także pasjonatami edukacji- oferujemy kursy programowania dla wszystkich, którzy chcą lepiej zrozumieć świat nauki i technologii. Nasze szkolenia są zaprojektowane w sposób przystępny, aby wyposażyć młodych entuzjastów nauki w umiejętności niezbędne do osiągnięcia sukcesu w dzisiejszym świecie.
  </p>
</div>

<div class="section-header">
  <h2>WSPÓŁPRACA</h2>
</div>
  <p>
    W SciByteHub wierzymy w siłę współpracy! Jesteśmy otwarci na nowe pomysły, partnerstwa oraz na dzielenie się wiedzą z innymi instytucjami naukowymi, uczelniami i firmami. Chcesz coś wspólnie z nami stworzyć? Nie czekaj - daj nam znać! Razem możemy zdziałać naprawdę wielkie rzeczy.
  </p>
</div>



{% endblock content %}
